<div class="background-code1 small--hide">
        <svg  viewBox="0 0 1440 1517" fill="{{settings.shape_color}}" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 165.315C88.0939 71.806 334.877 -81.2356 616.857 55.0686C969.333 225.449 1136.72 361.052 1327.81 267.543C1402.8 230.861 1432.5 175.137 1440 142.063V525.92C1440 525.92 1059.63 401.342 1007.33 641.277C957.534 869.787 1058.93 1168.35 957.733 1346.35C856.74 1523.95 672.653 1550.81 530.563 1479.95C399.272 1414.5 360.275 1148.51 258.882 997.773C174.388 872.293 0 686.277 0 686.277V165.315Z" fill="{{settings.shape_color}}"/>
      </svg>
     <svg viewBox="0 0 1440 1936" fill="{{settings.shape_color}}" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip2)">
    <path d="M-180.524 1666.78C-294.633 1499.27 -196.372 1140.15 -132.978 981.524C-85.432 840.568 -9.35847 791.175 76.2239 767.381C161.806 743.587 323.462 696 518.4 696C808.429 696 894.011 791.175 870.238 938.695C846.465 1086.22 775.147 1476.43 613.491 1776.23C451.835 2076.03 -37.8863 1876.17 -180.524 1666.78Z" fill="{{settings.shape_color}}"/>
    <path d="M736.476 978.993C622.367 811.622 720.628 452.788 784.022 294.292C831.568 153.45 907.642 104.097 993.224 80.3231C1078.81 56.5487 1240.46 9 1435.4 9C1725.43 9 1811.01 104.097 1787.24 251.498C1763.47 398.899 1692.15 788.799 1530.49 1088.36C1368.84 1387.91 879.114 1188.21 736.476 978.993Z" fill="{{settings.shape_color}}"/>
    </g>
    <defs>
    <clipPath id="clip1">
    <rect  fill="white"/>
    </clipPath>
    </defs>
</svg>


</div>
<div class="background-code2 medium-up--hide">

    <svg  viewBox="0 0 320 624" fill="{{settings.shape_color}}" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip3)">
    <path d="M-230 63.7544C-196.353 27.4821 -102.096 -31.8833 5.60518 20.9896C140.231 87.0807 204.164 139.681 277.149 103.409C305.793 89.1801 317.136 67.5644 320 54.7349V203.634C320 203.634 174.718 155.31 154.744 248.382C135.725 337.022 174.451 452.837 135.801 521.882C97.2273 590.773 26.9162 601.192 -27.3544 573.706C-77.5002 548.319 -92.395 445.139 -131.121 386.668C-163.394 337.994 -230 265.838 -230 265.838V63.7544Z" fill="{{settings.shape_color}}"/>
    </g>
    <defs>
    <clipPath id="clip5">
    <rect  fill="white"/>
    </clipPath>
    </defs>
    </svg>
		
      <svg  viewBox="0 0 320 496" fill="{{settings.shape_color}}" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip4)">
    <path d="M-71.5456 430.482C-98.0034 391.675 -75.2203 308.475 -60.5215 271.726C-49.4974 239.07 -31.8587 227.626 -12.0154 222.114C7.82798 216.602 45.3099 205.577 90.5087 205.577C157.756 205.577 177.599 227.626 172.087 261.803C166.575 295.98 150.039 386.383 112.557 455.839C75.0749 525.295 -38.4733 478.991 -71.5456 430.482Z" fill="{{settings.shape_color}}"/>
    <path d="M141.536 242.905C115.079 204.098 137.862 120.898 152.561 84.1486C163.585 51.4926 181.223 40.0495 201.067 34.5372C220.91 29.0248 258.392 18 303.591 18C370.838 18 390.681 40.0495 385.169 74.2263C379.657 108.403 363.121 198.806 325.639 268.262C288.157 337.718 174.609 291.414 141.536 242.905Z" fill="#FAF5FF"/>
    </g>
    <defs>
    <clipPath id="clip6">
    <rect fill="white"/>
    </clipPath>
    </defs>
    </svg>

</div>